*{
    margin: 0;
    padding: 0;
}
.cajas{
    font-size: 7px;

    width: 50em;
    height: 60em;
    position: relative;

    margin: auto;
    margin-top: 10em;
    margin-bottom: 5em;
}
.caja_color{
    width: 50em;
    height: 60em;
    background-color: #00A9AA;
    position: absolute;

    transition: 1s;
}
.caja_imagen{
    width: 50em;
    height: 60em;
    background-image: url(../img/arboles.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 5em;
    left: 5em;

    transition: 1s;
}
.caja_texto{
    width: 50em;
    height: 8.5em;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 2em;
    left: 3.5em;

    box-sizing: border-box;
    padding-top: 2em;

    transition: 1s;
}
.caja_texto>h1{
    font-size: 3em;
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center; 

    transition: 0.5s;
}
.caja_color:hover{
    background-color: #0ca785;
    box-shadow: -7px 7px 6px 5px rgba(0,0,0,0.75);
  
    transition: 1s;
}
.caja_imagen:hover{
    transform: translate(-35px, 35px);

    transition: 1s;
}
.caja_texto:hover{
    background-color: rgba(0, 0, 0, 0.8);
  
    transition: 1s;
}
.caja_texto>h1:hover{
    color: blueviolet;

    transition: 0.5s;
}